// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

:root {
  // 主题
  --theme: #2F9688;

  // 文字
  --t: #1d1d1f;

  // 局部背景
  // --el-bg-color: radial-gradient( white 0%, #FAFDFE 10%, #ddf8e7 50%, #FAFDFE 90%, white 100%);
  // --el-bg-color: radial-gradient(#d9f8e5 0%, #FAFDFE 80%, #e7fcef 100%);
  --el-bg-color: #FAFDFE;
  // 背景色
  --bg1: #FAFAFA;

  // 操作颜色
  --delete: #f56c6c;
  --edit: #0084ff;
  --add: #63ba4d;
  --query: #909399;
  --down: #E6A23C;
  --upper: #67C23A;
  --role: #006000;

}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB","Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/**
 * Dialog 对话框
 */
 .el-dialog__header{
  border-bottom: 1px solid var(--el-border-color);
  margin-right: 0;
  padding: 0.5rem 1rem;
}

/**
 * table组件样式
 */
 .table-container{
  .search-wrap{
      display: flex;
      flex-wrap: wrap;
      // background: var(--bg1);
  }
  .search-wrap>div{
      line-height: 40px;
      padding: 0.2rem 0.8rem;
  }
  .button-wrap{
      display: flex;
      flex-wrap: wrap;
      padding-top: 0.6rem;
  }
  .button-wrap>div{
      line-height: 40px;
      padding: 0.2rem 0.8rem;
  }
  .table-wrap{
      padding: 1rem 0;
  }
  .pagination-wrap{
      padding-bottom: 0.2rem;
      text-align: right;
  }
}


/**
 * el-table 滚动条样式
 */
 .el-table__body-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}
.el-table__body-wrapper::-webkit-scrollbar-thumb {
  background-color: #909399;
  border-radius: 5px;
}
.el-table__body-wrapper::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #ededed;
}

/**
* 滚动条样式
*/
.scroll-div::-webkit-scrollbar{
  width: 5px;
  height: 1px;
}
.scroll-div::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #909399;
}
.scroll-div::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #ededed;
}
