// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

:root {
  // 主题
  --theme: #45a79a;

  // 文字
  --t: #1d1d1f;

  // 局部背景
  // --el-bg-color: radial-gradient( white 0%, #FAFDFE 10%, #ddf8e7 50%, #FAFDFE 90%, white 100%);
  // --el-bg-color: radial-gradient(#d9f8e5 0%, #FAFDFE 80%, #e7fcef 100%);
  --el-bg-color: #f5f5f5;
  // 背景色
  --bg1: #FAFAFA;

  // 操作颜色
  --delete: #f56c6c;
  --edit: #0084ff;
  --add: #63ba4d;
  --query: #909399;
  --down: #E6A23C;
  --upper: #67C23A;
  --role: #006000;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB","Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/**
* 滚动条样式
*/
.scroll-div::-webkit-scrollbar{
  width: 5px;
  height: 1px;
}
.scroll-div::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #909399;
}
.scroll-div::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #ededed;
}
