$--colors: (
  "primary": (
    "base": #45a79a,
  ),
  "success": (
    "base": #21ba45,
  ),
  "warning": (
    "base": #f2711c,
  ),
  "danger": (
    "base": #db2828,
  ),
  "error": (
    "base": #db2828,
  ),
  "info": (
    "base": #909399,
  )
);

@forward "element-plus/theme-chalk/src/mixins/config.scss" with (
  $namespace: "el"
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $--colors
);

@use "element-plus/theme-chalk/src/index.scss" as *;

@use "./dark.scss";
